@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes heartbeat {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}

.heartbeat {
  animation: heartbeat 1.5s infinite;
}
